/frontend/node_modules
/Backend/env
# /Backend/media/profile_pictures
# /Backend/profile_pictures
/Backend/friends/__pycache__
/Backend/friends/migrations
/Backend/myproject/__pycache__
/Backend/Registration/__pycache__
/Backend/Registration/migrations
/Backend/users/__pycache__
/Backend/users/migrations
/Backend/db.sqlite3